src/modules/RWService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ATL Server generated Web Service Description -->
<definitions xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="urn:Roblox"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:atls="http://tempuri.org/vc/atl/server/"
	targetNamespace="urn:Roblox" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<s:schema targetNamespace="urn:Roblox" attributeFormDefault="qualified"
			elementFormDefault="qualified">
			<s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<s:simpleType name="LuaType">
				<s:restriction base="s:string">
					<s:enumeration value="LUA_TTABLE" />
					<s:enumeration value="LUA_TSTRING" />
					<s:enumeration value="LUA_TNUMBER" />
					<s:enumeration value="LUA_TBOOLEAN" />
					<s:enumeration value="LUA_TNIL" />
				</s:restriction>
			</s:simpleType>
			<s:simpleType name="MessageType">
				<s:restriction base="s:string">
					<s:enumeration value="MESSAGE_ERROR" />
					<s:enumeration value="MESSAGE_WARNING" />
					<s:enumeration value="MESSAGE_INFO" />
					<s:enumeration value="MESSAGE_OUTPUT" />
				</s:restriction>
			</s:simpleType>
			<s:complexType name="StandardOutMessage">
				<s:sequence>
					<s:element name="type" type="s0:MessageType" />
					<s:element name="time" type="s:long" />
					<s:element name="text" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="StandardOutMessages">
				<s:sequence>
					<s:element name="count" type="s:int" />
					<s:element name="items" atls:SizeIs="count" nillable="true">
						<s:complexType>
							<s:complexContent>
								<s:restriction base="soapenc:Array">
									<s:attribute ref="soapenc:arrayType"
										wsdl:arrayType="s0:StandardOutMessage[]" />
								</s:restriction>
							</s:complexContent>
						</s:complexType>
					</s:element>
				</s:sequence>
			</s:complexType>
			<s:complexType name="Strings">
				<s:sequence>
					<s:element name="count" type="s:int" />
					<s:element name="items" atls:SizeIs="count" nillable="true">
						<s:complexType>
							<s:complexContent>
								<s:restriction base="soapenc:Array">
									<s:attribute ref="soapenc:arrayType" wsdl:arrayType="s:string[]" />
								</s:restriction>
							</s:complexContent>
						</s:complexType>
					</s:element>
				</s:sequence>
			</s:complexType>
			<s:complexType name="LuaValue10">
				<s:sequence>
					<s:element name="type" type="s0:LuaType" />
					<s:element name="value" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="LuaValue1">
				<s:sequence>
					<s:element name="type" type="s0:LuaType" />
					<s:element name="value" type="s:string" />
					<s:element name="tableLength" type="s:int" />
					<s:element name="table" atls:SizeIs="tableLength" nillable="true">
						<s:complexType>
							<s:complexContent>
								<s:restriction base="soapenc:Array">
									<s:attribute ref="soapenc:arrayType"
										wsdl:arrayType="s0:LuaValue2[]" />
								</s:restriction>
							</s:complexContent>
						</s:complexType>
					</s:element>
				</s:sequence>
			</s:complexType>
			<s:complexType name="LuaValue2">
				<s:sequence>
					<s:element name="type" type="s0:LuaType" />
					<s:element name="value" type="s:string" />
					<s:element name="tableLength" type="s:int" />
					<s:element name="table" atls:SizeIs="tableLength" nillable="true">
						<s:complexType>
							<s:complexContent>
								<s:restriction base="soapenc:Array">
									<s:attribute ref="soapenc:arrayType"
										wsdl:arrayType="s0:LuaValue3[]" />
								</s:restriction>
							</s:complexContent>
						</s:complexType>
					</s:element>
				</s:sequence>
			</s:complexType>
			<s:complexType name="LuaValue3">
				<s:sequence>
					<s:element name="type" type="s0:LuaType" />
					<s:element name="value" type="s:string" />
					<s:element name="tableLength" type="s:int" />
					<s:element name="table" atls:SizeIs="tableLength" nillable="true">
						<s:complexType>
							<s:complexContent>
								<s:restriction base="soapenc:Array">
									<s:attribute ref="soapenc:arrayType"
										wsdl:arrayType="s0:LuaValue4[]" />
								</s:restriction>
							</s:complexContent>
						</s:complexType>
					</s:element>
				</s:sequence>
			</s:complexType>
			<s:complexType name="LuaValue4">
				<s:sequence>
					<s:element name="type" type="s0:LuaType" />
					<s:element name="value" type="s:string" />
					<s:element name="tableLength" type="s:int" />
					<s:element name="table" atls:SizeIs="tableLength" nillable="true">
						<s:complexType>
							<s:complexContent>
								<s:restriction base="soapenc:Array">
									<s:attribute ref="soapenc:arrayType"
										wsdl:arrayType="s0:LuaValue5[]" />
								</s:restriction>
							</s:complexContent>
						</s:complexType>
					</s:element>
				</s:sequence>
			</s:complexType>
			<s:complexType name="LuaValue5">
				<s:sequence>
					<s:element name="type" type="s0:LuaType" />
					<s:element name="value" type="s:string" />
					<s:element name="tableLength" type="s:int" />
					<s:element name="table" atls:SizeIs="tableLength" nillable="true">
						<s:complexType>
							<s:complexContent>
								<s:restriction base="soapenc:Array">
									<s:attribute ref="soapenc:arrayType"
										wsdl:arrayType="s0:LuaValue6[]" />
								</s:restriction>
							</s:complexContent>
						</s:complexType>
					</s:element>
				</s:sequence>
			</s:complexType>
			<s:complexType name="LuaArguments">
				<s:sequence>
					<s:element name="count" type="s:int" />
					<s:element name="items" atls:SizeIs="count" nillable="true">
						<s:complexType>
							<s:complexContent>
								<s:restriction base="soapenc:Array">
									<s:attribute ref="soapenc:arrayType"
										wsdl:arrayType="s0:LuaValue1[]" />
								</s:restriction>
							</s:complexContent>
						</s:complexType>
					</s:element>
				</s:sequence>
			</s:complexType>
			<s:complexType name="LuaValue6">
				<s:sequence>
					<s:element name="type" type="s0:LuaType" />
					<s:element name="value" type="s:string" />
					<s:element name="tableLength" type="s:int" />
					<s:element name="table" atls:SizeIs="tableLength" nillable="true">
						<s:complexType>
							<s:complexContent>
								<s:restriction base="soapenc:Array">
									<s:attribute ref="soapenc:arrayType"
										wsdl:arrayType="s0:LuaValue7[]" />
								</s:restriction>
							</s:complexContent>
						</s:complexType>
					</s:element>
				</s:sequence>
			</s:complexType>
			<s:complexType name="LuaValue7">
				<s:sequence>
					<s:element name="type" type="s0:LuaType" />
					<s:element name="value" type="s:string" />
					<s:element name="tableLength" type="s:int" />
					<s:element name="table" atls:SizeIs="tableLength" nillable="true">
						<s:complexType>
							<s:complexContent>
								<s:restriction base="soapenc:Array">
									<s:attribute ref="soapenc:arrayType"
										wsdl:arrayType="s0:LuaValue8[]" />
								</s:restriction>
							</s:complexContent>
						</s:complexType>
					</s:element>
				</s:sequence>
			</s:complexType>
			<s:complexType name="LuaValue8">
				<s:sequence>
					<s:element name="type" type="s0:LuaType" />
					<s:element name="value" type="s:string" />
					<s:element name="tableLength" type="s:int" />
					<s:element name="table" atls:SizeIs="tableLength" nillable="true">
						<s:complexType>
							<s:complexContent>
								<s:restriction base="soapenc:Array">
									<s:attribute ref="soapenc:arrayType"
										wsdl:arrayType="s0:LuaValue9[]" />
								</s:restriction>
							</s:complexContent>
						</s:complexType>
					</s:element>
				</s:sequence>
			</s:complexType>
			<s:complexType name="LuaValue9">
				<s:sequence>
					<s:element name="type" type="s0:LuaType" />
					<s:element name="value" type="s:string" />
					<s:element name="tableLength" type="s:int" />
					<s:element name="table" atls:SizeIs="tableLength" nillable="true">
						<s:complexType>
							<s:complexContent>
								<s:restriction base="soapenc:Array">
									<s:attribute ref="soapenc:arrayType"
										wsdl:arrayType="s0:LuaValue10[]" />
								</s:restriction>
							</s:complexContent>
						</s:complexType>
					</s:element>
				</s:sequence>
			</s:complexType>
			<s:complexType name="Status">
				<s:sequence>
					<s:element name="version" type="s:string" />
					<s:element name="environmentCount" type="s:int" />
				</s:sequence>
			</s:complexType>
		</s:schema>
	</types>
	<message name="HelloWorldIn">
		<part name="bstrInput" type="s:string" />
	</message>
	<message name="HelloWorldOut">
		<part name="return" type="s:string" />
	</message>
	<message name="GetVersionIn">
	</message>
	<message name="GetVersionOut">
		<part name="return" type="s:string" />
	</message>
	<message name="GetStatusIn">
	</message>
	<message name="GetStatusOut">
		<part name="return" type="s0:Status" />
	</message>
	<message name="UpdateIn">
		<part name="url" type="s:string" />
	</message>
	<message name="UpdateOut">
	</message>
	<message name="OpenEnvironmentIn">
	</message>
	<message name="OpenEnvironmentOut">
		<part name="return" type="s:string" />
	</message>
	<message name="CloseEnvironmentIn">
		<part name="environmentID" type="s:string" />
	</message>
	<message name="CloseEnvironmentOut">
	</message>
	<message name="CloseOrphanedEnvironmentsIn">
		<part name="activeEnvironments" type="s0:Strings" />
	</message>
	<message name="CloseOrphanedEnvironmentsOut">
		<part name="return" type="s:int" />
	</message>
	<message name="CloseAllEnvironmentsIn">
	</message>
	<message name="CloseAllEnvironmentsOut">
	</message>
	<message name="ExecuteIn">
		<part name="environmentID" type="s:string" />
		<part name="script" type="s:string" />
		<part name="arguments" type="s0:LuaArguments" />
		<part name="name" type="s:string" />
	</message>
	<message name="ExecuteOut">
		<part name="return" type="s0:LuaArguments" />
	</message>
	<message name="GetAllEnvironmentsIn">
	</message>
	<message name="GetAllEnvironmentsOut">
		<part name="return" type="s0:Strings" />
	</message>
	<message name="GetStandardOutMessagesIn">
		<part name="maxCount" type="s:int" />
	</message>
	<message name="GetStandardOutMessagesOut">
		<part name="return" type="s0:StandardOutMessages" />
	</message>
	<portType name="ServiceSoap">
		<operation name="HelloWorld">
			<input message="s0:HelloWorldIn" />
			<output message="s0:HelloWorldOut" />
		</operation>
		<operation name="GetVersion">
			<input message="s0:GetVersionIn" />
			<output message="s0:GetVersionOut" />
		</operation>
		<operation name="GetStatus">
			<input message="s0:GetStatusIn" />
			<output message="s0:GetStatusOut" />
		</operation>
		<operation name="Update">
			<input message="s0:UpdateIn" />
			<output message="s0:UpdateOut" />
		</operation>
		<operation name="OpenEnvironment">
			<input message="s0:OpenEnvironmentIn" />
			<output message="s0:OpenEnvironmentOut" />
		</operation>
		<operation name="CloseEnvironment">
			<input message="s0:CloseEnvironmentIn" />
			<output message="s0:CloseEnvironmentOut" />
		</operation>
		<operation name="CloseOrphanedEnvironments">
			<input message="s0:CloseOrphanedEnvironmentsIn" />
			<output message="s0:CloseOrphanedEnvironmentsOut" />
		</operation>
		<operation name="CloseAllEnvironments">
			<input message="s0:CloseAllEnvironmentsIn" />
			<output message="s0:CloseAllEnvironmentsOut" />
		</operation>
		<operation name="Execute">
			<input message="s0:ExecuteIn" />
			<output message="s0:ExecuteOut" />
		</operation>
		<operation name="GetAllEnvironments">
			<input message="s0:GetAllEnvironmentsIn" />
			<output message="s0:GetAllEnvironmentsOut" />
		</operation>
		<operation name="GetStandardOutMessages">
			<input message="s0:GetStandardOutMessagesIn" />
			<output message="s0:GetStandardOutMessagesOut" />
		</operation>
	</portType>
	<binding name="ServiceSoap" type="s0:ServiceSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
		<operation name="HelloWorld">
			<soap:operation soapAction="#HelloWorld" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="GetVersion">
			<soap:operation soapAction="#GetVersion" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="GetStatus">
			<soap:operation soapAction="#GetStatus" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="Update">
			<soap:operation soapAction="#Update" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="OpenEnvironment">
			<soap:operation soapAction="#OpenEnvironment" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="CloseEnvironment">
			<soap:operation soapAction="#CloseEnvironment" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="CloseOrphanedEnvironments">
			<soap:operation soapAction="#CloseOrphanedEnvironments" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="CloseAllEnvironments">
			<soap:operation soapAction="#CloseAllEnvironments" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="Execute">
			<soap:operation soapAction="#Execute" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="GetAllEnvironments">
			<soap:operation soapAction="#GetAllEnvironments" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="GetStandardOutMessages">
			<soap:operation soapAction="#GetStandardOutMessages" style="rpc" />
			<input>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:Roblox"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
	</binding>
	<service name="Service">
		<port name="ServiceSoap" binding="s0:ServiceSoap">
			<soap:address location="" />
		</port>
	</service>
</definitions>